
 @font-face { font-family: SohoGothicPro; src: url('../fonts/SohoGothicPro/SohoGothicPro-Regular.otf'); } 
 @font-face { font-family: SohoGothicPro; font-weight: bold; src: url('../fonts/SohoGothicPro/SohoGothicPro-Bold.otf');}
 @font-face { font-family: SohoGothicPro; font-weight: lighter; src: url('../fonts/SohoGothicPro/SohoGothicPro-light.otf');}

 html,body{
 	    box-sizing: border-box; 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;
 	font-size: 62.5%;
	padding: 0;
	margin: 0;
	font-family: SohoGothicPro;
}


.slide1,.slide2,.slide3{
	height: 100%;
}
.next-btn{
		background: url('../images/back.png');
	background-size: cover;
}

.button-next.button-slider{
	color: transparent !important;
		background: url('../images/back.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,0.5) !important;
	border-radius: 0 !important;
	padding: 30px 20px;
	background-position: center;
}

.button-previous.button-slider{
	color: transparent !important;
		background: url('../images/back2.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,0.5) !important;
	border-radius: 0 !important;
	padding: 30px 20px;
	background-position: center;
}


.nav-link{
	background: url('../images/Ellipse-3.png');
	background-size: cover;
}
.nav-link.active{
		background-color: white;
	background: url('../images/Ellipse-2.png');
	background-size: cover;
}
.continue{
	display: none;
}
.card-btn{
	margin-left: 40%;
	padding-bottom: 30px;
}
.red-btn{
	padding-top: 30px;
}
.red-btn-box{
	overflow: hidden;
	width: 160px;
	height: 50px;
	font-size: 1.6rem;
	font-family: SohoGothicPro;
	display:block;
	text-decoration: none;
	text-align: center;
	vertical-align: middle;
	color: white;
}
.red-btn-text{
	display: inline-block;
	line-height: 50px;
	width: 110px;
	height: 50px;
	background-color: #b11116;
}

.red-img-box{
	display: inline-block;
	float: right;
	width: 50px;
	height: 50px;
	background: url('../images/Double arrow.png');
	background-repeat: no-repeat;
	background-position: center;
	background-color: #7a0b0e;
}

.red-btn-img{
	margin:0;
	visibility: hidden;
}


.bc-card-one,.bc-card-three{
	box-sizing:border-box;
	display: inline-block;
	width: 32%;
}

.bc-card-two{
	box-sizing:border-box;
	display: inline-block;
	width: 35.5%;
}
.bc-head{
	padding-top: 80px;
	padding-bottom: 30px;
}

.bc-head-text{
	font-size: 24px;
	text-align: center;
}

.bc-one-img,.bc-two-img,.bc-three-img{
	display: block;
	width: 100%;
}

.bc-one-img-box,.bc-two-img-box,.bc-three-img-box{
	z-index: -1;
	width: 100%;
}

.bg-black{
	background-color: black;
}

.bottom-carousel{
	box-sizing:border-box;
	position: relative;
	width: 100%;
}

.btn{
	box-sizing: border-box;
	min-height: 20px;
    min-width: 150px;
	position: relative;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 0;
}


.btn-img-box{
	width: 20%;
	position: absolute;
	right: 0;
	top: 0;
	padding: 9% 10% 9% 10%;
	background-color:  #7a0b0e
}
.btn-text{
	position:absolute;
	width: 75%;
	left: 0;
	top: 0;
	padding: 10% 15%;
	background-color: #b11116;
	color: white;

}

.card-desc{
	font-size: 1.5rem;
	line-height: 1.9;
	padding-bottom: 10px;
}

.card-detail{
float: left;
box-sizing:border-box;
width: 50%;
margin: 0 auto;
}

.card-head{
	padding: 1rem 0;
	font-size: 24px;
	color: #999;
}

.card-img{
	width: 90%;
}

.card-img-box{
	float: left;
	box-sizing:border-box;
	width: 40%;
}

.card-icon-box{
	padding: 20px 5px 8px;
}

.card-left,.card-right{
	display: inline-block;
	background-color: white;
	overflow: hidden;
	box-shadow: 0 0 15px #666;
	box-sizing : border-box;
	width: 40%;
}
.card-left{
	margin-top: -30px;
	margin-left: 100px;
}

.card-right{
	margin-right: 100px;
	float: right;
	margin-top: 110px;
}

.carousal{
	position: relative;
	min-height: 397px;
}


.carousal-button-img{
	position: absolute;
	display: inline-block;
	background-color: #7a0b0e;
	height: 100%;
	width: 2rem;
}

.carousal-button-text{
	color: white;
	padding: 1.7rem;
	margin: 0;
	display: inline-block;
	background-color: #b11115;
}

.carousal-container{
	position: absolute;
	width: 30%;
	top: 22%;
	left: 92px;
}

.carousal-content{
	font-size: 1.6rem;
	line-height: 2;
	padding: 8px 0;
}

.carousal-head{
	font-size: 28px;
	line-height: 1.3;
}

.carouselnav{
	position: absolute;
	top: calc(90%);
	left: 7%;

}

.clear{
	clear: both;
}

.dot{
	padding: 2px;
}
.double-arrow{
	height: 32px;
	width: 100%;
	height: 100%;
	vertical-align: middle;
}

.header{
	background-color: #7a0b0e;
}

.header-text{
	font-family: SohoGothicPro;
	color: white;
	font-size: 24px;
	text-align: center;
	padding: 20px;
	padding-top: 15px;
}

.image{
	background: url('../images/bkgrnd-image.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;	
	position: absolute;
	max-height: 397px;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.info-img{
	display: block;
	margin: 0 auto;
	max-width:100%;
	max-height:100%;
}

.info-img,.slide{
	visibility: hidden;

}

.info-head{
	padding-top: 37px;
	padding-bottom: 50px;
}

.info-text{
	font-size: 24px;
	text-align: center;
}

.info-img-container{
	width: 100%;
}

.info-img-container{
	/*background: url('../images/infographic2.png');
	background-size: 100%;*/
}
.info-img-container{
	background: url('../images/infographic2.png');
	background-size: 80% 100%;
	background-repeat: no-repeat;	
	background-position: center;
}


.infograph{
	padding-bottom: 100px;
}

.nav-btn{
	position: absolute;
	top: calc(50% - 42px);
}

.left{
	left: 7px;
}
.points-container{
	min-height: 380px;
	clear: both;
	background: url('../images/bg2.png');
	/*background-color: grey;*/
	padding-bottom: 2rem;
}


.right{
	right: 0%;
}

.slide{
	height: 100%;
	width: 100%;
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px){
/* Styles */
.card-left,.card-right{
		width: 40%;
	}
}


@media (max-width: 768px) {

	.card-right {
    margin-top: 20px;
}

	.continue{
		display: inline;
	}

	.card-desc-2{
		display: none;
	}

	.card-btn{
		left: 50%;
		transform: translate(-50%,0);
		}

	.card-img-box{
		width: 30%;
	}

	.infograph {
    padding-bottom: 30px;
	}

	.info-head {
		display: none;
    padding-bottom: 0;
    padding-top: 0px;
	}

	.info-img-container{
		padding-top: 30px;
	}
	.carousal,.slide-container{
    min-height: 380px;
	}

	.carouselnav{
		left: 50%;
		transform: translate(-50%,0);
	}

	.carousal-content{
		display: none;
	}

	.carousal-container{
		left: 50%;
		transform: translate(-50%,0);
		top: 46%;
		width: 80%;
	}
	
	.carousal-head{
		padding: 5px 20px;
		font-size: 24px;
		background-color: rgba(255,255,255,0.5);
	}
	
	.red-btn{
		position: absolute;
		left: 50%;
		transform: translate(-50%,0);
		}

	.red-btn-box{	
		width: 300px;

	}
	
	.red-btn-text{
		width: 250px;
		}


		.info-img-container{
	background: url('../resp/bkgrnd-image.png');
		background-size: 100% 100%;
	background-repeat: no-repeat;

	}

	.info-img-container{
	background: url('../resp/Infographic.png');
	background-repeat: no-repeat;
	background-position: center;	
	min-height: 400px;
	}

	.card-left,.card-right{
	float: none;
	width: 80%;
	margin-left: 5rem;
	}
	
}

/* Desktops and laptops ----------- */
@media only screen  and (max-width : 1224px) and (min-width: 1024){
	.card-left,.card-right{
		width: 40%;
	}

}
